@font-face {
    font-family: 'iconfont';
    src: url('font/iconfont.eot?60287945');
    src: url('font/iconfont.eot?60287945#iefix') format('embedded-opentype'),
         url('font/iconfont.woff2?60287945') format('woff2'),
         url('font/iconfont.woff?60287945') format('woff'),
         url('font/iconfont.ttf?60287945') format('truetype'),
         url('font/iconfont.svg?60287945#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "iconfont";
    font-style: normal;
    font-weight: normal;
    speak: never;
    display: inline-block;
    text-decoration: inherit;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-search:before { content: '\e800'; } /* 'î €' */
  
em, i{
    font-size: 200px;
}

em:hover{
    color: blue;
}
i:hover{
    color: red;
}