
/* bir üst tag i h4 olan b nin - Child combinator */
h4 > b {
    color:red;
    /*
    ++<h4>
       <b>Lorem ipsum</b>
      </h4>
    --<h4>
        <span>
            <b>Lorem ipsum</b>
        </span>
      </h4>
    */
}

/* bir üst tag i span olan span tagin in üstündeki tag h4 olan b nin - Child combinator */
h4 > span > b {
    color:red;
    /*
    ++<h4>
        <span>
            <b>Lorem ipsum</b>
        </span>
      </h4>
    --<h4>
        <p>
            <b>Lorem ipsum</b>
        </p>
      </h4>
    */
}

/* box clasından sonra gelen p yi seçer Adjacent sibling combinator */
.box + p {
    font-weight: bold;
    color: red;
    /*
    ++<div class="box">
        box div
      </div>
      <p>paragraf</p>
    --<div class="box">
        box div
        <p>paragraf</p>
      </div>
      
      li:first-of-type + li {
        color: red;
      }
    */
}

/* list2 clasından sonra gelen tüm li ları */
.list2 ~ li{
    color: orange;
}
/* list2 clasından sonra gelen ilk li ı */
.list2 + li{
    color: green;
}
/* 
<ul>
    <li>liste 1</li>
    <li class="list2">liste 2</li>
    <li>liste 3</li>
    <li>liste 4</li>
    <li>liste 5</li>
    <li>liste 6</li>
</ul>
*/

abbr[title] {
    color:green;
    /*
    ++ <abbr title="Berkay">BERKAY</abbr>
    -- <abbr>BERKAY</abbr>
    */
}
img[alt] {
    background:green;
    /*
    ++ <img src="berkay.img" alt="berkay"/>
    -- <img src="berkay.img" />
    */
}
img[alt="berkay"]{
    height: 200px;
}
img[height] {
    background: blue;
    /*
    ++ <img src="berkay.img" height="200"/>
    -- <img src="berkay.img" width="100"/>
    */
}
img[target="_blank"] {
    background: blue;
}
div[class|="box"]{
    display: flex;
    /* div ögelerinde classı box ile başlayanları seçer dikkat-> dikçizgi | 
        class="box" class="box-small" */
}
div[class^="box"]{
    justify-self: unset;
    /* div ögelerinde classında başlangıcında box olanı seçer
        class="box" class="box-small" class="boxcontent" class="box test" */
}
div[class$="box"]{
    text-align: center;
    /* div ögelerinde class ı box ile biten div leri seçer
         class="box" class="big-box" class="bigbox"
    */
}
div[class*="title"]{
    color: yellowgreen;
    /* div ögelerinde class niteliğinin herhangi biryerinde 
        geçen title isimlerini seçer */
}