/* inputlarda type checkbox, radio olanlarda checked olayını yakalar */
input[type="radio"]:checked + span{
    color: red;
    /* type radio olanlar checked olunca red olur */
}
.checkbox:checked + .box {
    display: none;
    /* checkbox checked olunca .box display none olur */
}

.button::before{
    content: attr(data-hide);
}
.checkbox:checked + .button::before{
    content: attr(data-show);
}
.checkbox:checked + .button + .box{
    display: none;
}