/* ### -- SEÇİÇİLER START -- ### */
/* bir üst tag i h4 olan b nin - Child combinator */
h4 > b {
    color:red;
    /*
    ++<h4>
       <b>Lorem ipsum</b>
      </h4>
    --<h4>
        <span>
            <b>Lorem ipsum</b>
        </span>
      </h4>
    */
}

/* bir üst tag i span olan span tagin in üstündeki tag h4 olan b nin - Child combinator */
h4 > span > b {
    color:red;
    /*
    ++<h4>
        <span>
            <b>Lorem ipsum</b>
        </span>
      </h4>
    --<h4>
        <p>
            <b>Lorem ipsum</b>
        </p>
      </h4>
    */
}

/* box clasından sonra gelen p yi seçer Adjacent sibling combinator */
.box + p {
    font-weight: bold;
    color: red;
    /*
    ++<div class="box">
        box div
      </div>
      <p>paragraf</p>
    --<div class="box">
        box div
        <p>paragraf</p>
      </div>
      
      li:first-of-type + li {
        color: red;
      }
    */
}

/* list2 clasından sonra gelen tüm li ları */
.list2 ~ li{
    color: orange;
}
/* list2 clasından sonra gelen ilk li ı */
.list2 + li{
    color: green;
}
/* 
<ul>
    <li>liste 1</li>
    <li class="list2">liste 2</li>
    <li>liste 3</li>
    <li>liste 4</li>
    <li>liste 5</li>
    <li>liste 6</li>
</ul>
*/

abbr[title] {
    color:green;
    /*
    ++ <abbr title="Berkay">BERKAY</abbr>
    -- <abbr>BERKAY</abbr>
    */
}
img[alt] {
    background:green;
    /*
    ++ <img src="berkay.img" alt="berkay"/>
    -- <img src="berkay.img" />
    */
}
img[alt="berkay"]{
    height: 200px;
}
img[height] {
    background: blue;
    /*
    ++ <img src="berkay.img" height="200"/>
    -- <img src="berkay.img" width="100"/>
    */
}
img[target="_blank"] {
    background: blue;
}
div[class|="box"]{
    /* div[class|="box" i] i-> büyük, küçük duyarsızlığı */
    display: flex;
    /* div ögelerinde classı box ile başlayanları seçer dikkat-> dikçizgi | 
        class="box" class="box-small" */
}
div[class^="box"]{
    justify-self: unset;
    /* div ögelerinde classında başlangıcında box olanı seçer
        class="box" class="box-small" class="boxcontent" class="box test" */
}
div[class$="box"]{
    text-align: center;
    /* div ögelerinde class ı box ile biten div leri seçer
         class="box" class="big-box" class="bigbox"
    */
}
div[class*="title"]{
    color: yellowgreen;
    /* div ögelerinde class niteliğinin herhangi biryerinde 
        geçen title isimlerini seçer */
}
/* ### -- SEÇİÇİLER FINISH -- ### */


/* ### -- SÖZDE ÖGELER START -- ### */
/* bir etiketi seçtikten sonra öncesine veya sonrasına düzenleme yapıyoruz 
    eğer ikinokta(::) var ise sözde ögedir */

div::after{
    content: " sonraki yazı";
    color: red;
    background: blue;
    /* div tagi içerisine sonraki yaz ı metnini ekler
        ve color:red, backgroundunuu blue yapar
        boşta olsa bir content belirtmek zorundayız
          yoksa css kodlarımız çalışmaz */
}
div::before{
    content: 'önceki yazı ';
    background: red;
    color: yellowgreen;
    /* boşta olsa bir content belirtmek zorundayız
    yoksa css kodlarımız çalışmaz */
}
/* attr() fonksiyonu */
a[target="_blank"]::after{
    content: attr(title);
    /*
      <a href="lorem.com" target="_blank" title="sonraı">bla bla</a>
      <a href="lorem.com" title=sonrası"">bla bla</a>
    */
}
p::first-letter{
    font-size: 60px;
    color: blue;
    /* p tagi içerisindeki ilk harfi seçer */
}
p::first-line{
    color: pink;
    /* p tagi içerisinde tarayıcıda gözüken ilk satır */
}
::selection{
    color: purple;
    /* tüm sayfada sol tık ile seçim yaparken seçim rengini purple yapar */
}
p::selection{
    color: orange;
    /* sadece p tagi sol tık ile seçilirken */
}
::placeholder{
    color: pink;
    /* sayfada bulunun tüm placeholderlara etki eder*/
}
input::placeholder{
    color: red;
    font-size: 22px;
    /* inputun placeholderı */
}
/* ### -- SÖZDE ÖGELER FINISH -- ### */


/* ### -- SÖZDE SINIFI START -- ### */
div ul:first-child{
    background-color: red;
    /* div tagi içindeki ilk childi seçer */
}
div:first-child{
    background-color: blue;
    /* body içindeki div ilk childi seçer*/
}

ul li:last-child{
    color: brown;
    /* ul içindeki son li childini seçer */
}

div:first-of-type{
    background-color: cadetblue;
    /* body tagi içindeki ilk div tagini seçer */
}
p:first-of-type {
    color: cadetblue;
    /* body tagi içindeki ilk p tagini seçer */
}

p:last-of-type {
    color: cadetblue;
    /* body tagi içindeki son p tagini seçer */
}

/* *** :nth-child() */
/* 
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
*/
ul li:nth-child(4){
    color: pink;
    /* ul içindeli 4. li seçer */
}
ul li:nth-child(odd){
    color: peru;
    /* ul içindeki tek sıra numarasına olanları seçer */
}
ul li:nth-child(even){
    color: tomato;
    /* ul içindeki çift sıra numarasına olanları seçer */
}
ul li:nth-child(3n){
    color: yellowgreen;
    /* ul içindeki 3, 6, 9 ... şeklinde elemaları seçer 3x1 3x2 3x3 */
}
ul li:nth-child(3n+2){
    color: yellowgreen;
    /* ul içindeki 2, 5, 8 ... şeklinde elemaları seçer (3x0 + 2) (3x1 + 2) (3x2 + 2) */
}
ul li:nth-child(n+4){
    color: yellowgreen;
    /* ul içindeki 4 den sonra elemanları seçer (0 + 4) (1 + 4) (2 + 4) (3 + 4)*/
}
ul li:nth-child(-n+8){
    color: yellowgreen;
    /* ul içindeki li ögelerinden ilk 8'i seçer (-0+8) (-1+8) (-2+8) */
}
ul li:nth-child(n+4):nth-child(-n+8){
    color: pink;
    /* 4 ve 8 arasını seçer */
}
ul li:nth-child(n+4):nth-child(even):nth-child(-n+8){
    color: pink;
    /* 4 ve 8 arasındaki çiftleri seçer */
}
div:nth-child(4){
    background-color: teal;
    /* 
    body>
        <div/>
        <div/>
        <p/>
        <div/> bunu seçer

    div li:nth-last-child(-n+5){} başlangıçın tersine sondan işlemler yapar
    */
}
div:nth-of-type(3){
    color: yellow;
    /* 
        3. div i seçer eğer divler arasında öge var ise yine sorun olmaz.
        type bakarak seçer yani tag'e
        div:nth-of-type(odd){}
        div:nth-of-type(even){}

        div:nth-last-of-type(even){} başlangıcın tersine sondan işlemmler yapar
    */
}


/* ### -- SÖZDE SINIFI FINISH -- ### */



