*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}

.container{
    display: flex;
    flex-wrap: wrap; /*birden fazla satır olabilir. default değeri flex-wrap*/
    /*flex-wrap: wrap-reverse; satırı ters çevirir*/
    /*flex-direction: row-reverse;*/
    flex-direction: row;
    justify-content:space-evenly;
    height: 100vh; /*görüntülenen alanın yüksekliği kadar.   
    width:100vw görüntülenen alanın genişliği kadar*/
    /*align-items:stretch; varsayılan değer*/
    align-items:center;/*hizalama yapıyoruz*/
    /*eğer bir kaç satır fazla olsaydı align-items işimizde yaramazdı
    bu yüzden align-content kullanmamız gerekecektir*/
    /*align-content:center;  */ 
} 

.box{
    color:white;
    padding: 10px;
    font-size: 40px;
    text-align: center;
}
/*child taglere verdiğimiz style lar vardır.
    align-self: flex-start;
*/
.box-1{
    background-color: blue;
}
.box-2{
    flex-grow: 1;/*etrafında boşluk var ise o buşlukları doldur*/
    background-color: purple;
}
.box-3{
    align-self: flex-start;
    background-color: green;
}
.box-4{
    background-color: yellow;
}
.box-5{
    align-self: flex-end;
    background-color: orange;
}