/* tarayıcılar arası style farklılıkları user agent stylesheetten kaynaklanır*/
/* width height */
span{
    width: 300px;
    height: 300px;
    /* satır içi eleman olduğu için etki etmez */
}
div{
    width: 300px; /* % li değerler ebeveynin değerine bakarak değerlenir */
    height: 300px; /* 50% verseydik ve iyi bir biçimde çalışmasını istiyor olsaydık html ve body 50% vermemiz gerekirdi */
}

/* min-content max-content */
div{
    background-color: red;
    width: min-content;
    /*<div>Burada en uzun kelime ne ise uzunluk o olur.</div>*/
}
div{
    background-color: yellow;
    width: max-content;
    /*<div>Buradaki contentin uzunluğu ne kadar ise width o olur</div>*/
}

div{
    background-color: tomato;
    writing-mode: vertical-lr; /*içeriği dikey olarak verir*/
    height: min-content;
}

/* padding iç aralık */
/* margin  dış aralık*/
/* margin kullanarak ögeyi ortalamak */
div{
    /*margin-left: auto;
    margin-right: auto;*/
    margin: 0 auto 15px;
}

/* 
    border-style
    border-width
    border-color
    border 
*/
input{
    outline: none;
}
input:focus{
    outline: none;
    border-color: green blue;
}

/* 
    outline-style
    outline-width
    outline-color
    outline-offset border ile outline arası boşluk
    outline
*/

/* box-sizing */
/* padding, border kullandığımız zaman width, height
    değerleri değişir bunun için kullanabiliriz */
* {
    box-sizing: border-box;
}    
div{
    width: 200px;
    height: 200px;
    padding: 15px;
    border: 10px solid blue;
    /* width = 200 + (2 * 15) + (2 * 10) = 250 oluyor
        eğer box-sizing:border-box kullanırsak width=200 e tamamlar */
    /* ## ÖNEMLİ BİR ÖZELLİK ## 
       ama bu şekilde kullanmak yerine evrensel seçiçi ile özelliği vermek
       daha mantıklıdır */
    box-sizing: border-box;
}