html, body{
    margin: 0;
}
body{
    height: 3333px;
}
.test{
    /* position: static;  varsaılan değer */
    position: absolute; /* artık .test ögemiz sayfa içerisinde yer kaplamıyor
    ve bunu bottom ve right ile istediğimiz gibi konumlandırıyoruz */
    bottom: 20px;
    right: 20px;
}

.container{
    width: 400px;
    height: 400px;
    background-color: #ccc;
    position: relative;
}

.container div{
    width: 100px;
    height: 100px;    
}

.container .div1{
    background-color: blue;
    position: relative;
    z-index: 1;
}

.container .div2{
    background-color: red;
    position: absolute; /*fixed yapar isek .containerın dışına çıkar */
    top: 50px;
    right: 50px; /*sayfanın en sağına gider ama biz .container içerisinde konumlanmasını
    istiyor isek .container{position:relative} vermemiz lazım */
}

.container .div3{
    background-color: yellow;
    position: relative;
}

.up{
    position: fixed; /* scroll olsa bile sayfanın sağ altkısmında kalır*/
    bottom: 40px;
    right: 40px;
}

.page h3{
    font: bold 40px Arial, sans-serif;
    background-color: red;
    color: #fff;
    padding: 20px;
    margin: 0;
    position: sticky; /*scroll kayınca h3 ler sabitlenicektir*/
    top: 0;
}

.page .text{
    /*height: 800px;*/
}

.checkbox{
    display: inline-block;
    width: 100px;
    height: 40px;
    background-color: #ddd;
    border-radius: 40px;
    position: relative;
    cursor: pointer;
    transition: 500ms background-color;
}

.checkbox .check-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: tomato;
    position:absolute;
    top: 5px;
    left: 5px;
    transition: 500ms left, 500ms background-color;
}

label input:checked + .checkbox{
    background-color: tomato;
}

label input:checked + .checkbox .check-btn {
    left:65px;
    background-color: #fff;
}

label input{
    display: none;
}

.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .7);
    z-index: 4;
}

.popup .popup-inner{
    width: 500px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    /*popup yaparken bu yöntem aslında yanıştır
    çünkü tüm popup ların genişliğini ve yüksekliğini bilmeyiz*/
}