/* letter-spacing -> harfler arası mesafe */
h2{
    letter-spacing: 10px;
    letter-spacing: normal; /* normal değerlere getirir */
}

/* word-spacing -> kelimeler arası mesafe */
p{
    word-spacing: 5px;
    word-spacing: -5px;
    word-spacing: normal;
}

/* text-align sadece blok seviyesinden 
   elemanlarda geçerli yani spanda kullanamayız
   justify değeri de alır justify yazının sağdan ve soldan 
    ortalanmasını sağlar*/
p {
    text-align: justify;
}

/* text-decatotion */
div {
    text-decoration-line: underline overline;
    text-decoration-color: lime;
    text-decoration-style: dashed;
    
    text-decoration: underline overline lime wavy;
}

/* text-indent metin girintisii ayarlarız */
p{
    text-indent: 15px;
}

/* white-space boşluk yönetimi */
div{
    white-space: nowrap; /*contenti tek satırda yazdırır eğer br yok ise*/
    white-space: pre; /* content div içerisine nasıl yazılmış ise tarayıcıya aktarılır satır sayısı dahil*/
    white-space: pre-wrap; /* content nasıl yazılmış ise tarayıcya yazdırır fakat satır atlatır*/
}

/* text-transform */

/* word-break - overflow-wrap - hyphens  uzun yazılar ile başa çıkmak*/
p{
    width: 50px;
    border: 3px solid lime;
    word-break: break-all; /*50px içerisine contenti sığdırır - dağa çok tarayıcı destekler*/
    overflow-wrap: break-word; /*50px içerisine contenti sığdırır - bazı tarayıcılıarda çalışmaz */
    hyphens: auto; /*uzun kelimeleri kesme işareti ile ayırır ve 50px sığdırır*/
}

/* text-shadow */
h3{
    /*text-shadow: yatay dikey bulanıklık renk;*/
    text-shadow: 5px 5px 10 red, 50px 0px 10 blue, -50px 5px 10 green;
}